<!DOCTYPE html>
<html>

<head>
    <meta charset = "UTF-8" >
    <link rel = "icon" type = "icon" href = "./img/weather.png">
    <link rel = "stylesheet" type="text/css" href="./css/styles.css">
    <title>
        About
    </title> 
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Naris Kunasol. It uses data from mapbox.com and darksky.com</p>
        <img class="portrait" src='./img/Artist Vote.jpg'>    
    </div>
    
    {{>footer}}
</body>

</html>