<!doctype = html>
<html>

    <head>

        <meta charset="UTF-8">
        <link rel = "icon" type = "icon" href = "./img/weather.png">
        <link rel = "stylesheet" type="text/css" href="./css/styles.css" >
        <title>404</title>

    </head>
    
    <body>
        <div class = "main-content">
            {{>header}}
            {{!-- {{>error}} you can use ether this line or below --}} 
            <p>{{message}}</p>
        </div>
        
        {{>footer}}
    </body>

</html>